html {
  scroll-behavior: smooth;
}

 .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(200, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.book {
  transition: 125ms linear;
  border: 0.3em solid black;
  box-shadow: 0 1.0em 1.5em 0 rgba(0, 0, 0, 0.5), 0 0.5em 2em 0 rgba(0, 0, 0, 0.4);
}
.book.left:hover {
  transform: translateX(-20%);
}
.book.right:hover {
  transform: translateX(20%);
}

.bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.fancy {
  font-family: fairy;
  text-shadow: 4px 4px 15px black;
}

#booklist {
  transition: 500ms linear;
}

.carouselBtn {
  font-size: 128px;
  line-height: 128px;
  font-family: lick;
  cursor: pointer;
  padding: 0;

  position: relative;
  user-select: none;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1; 
    visibility: visible;
   }
  to {
    transform: translateX(-10%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1; 
    visibility: visible;
   }
  to {
    transform: translateX(10%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
    visibility: hidden;
  } to { 
    transform: translateX(0%);
    opacity: 1; 
    visibility: visible;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(10%);
    opacity: 0;
    visibility: hidden;
  } to { 
    transform: translateX(0%);
    opacity: 1; 
    visibility: visible;
  }
}


@font-face {
  font-family: lick;
  src: url('assets/Lickcurl\ Petite.ttf')
}

@font-face {
  font-family: beo;
  src: url('assets/BEOWULF_MODERN.ttf')
}

.searchBtn {
  background: transparent;
  border: none;
  font-size: 128px;
  color: white;
  outline: none;
  line-height: 128px;
  font-family: lick;
  cursor: pointer;
  padding: 0;

  position: relative;
  user-select: none;
}

.carouselBtn:hover, .searchBtn:hover {
  color: grey;
}

.carouselBtn:active, .searchBtn:active {
  color: black;
}

.header {
  font-size: 3em;
}
.subtitle {
  font-size: 2em;
}
.authorname {
  font-family: fairyb;
  text-shadow: 20px 20px 30px black;
  font-size: 4em;
  line-height: 1em;
  bottom: 1.65em;
}

.bookname {
  display: block; 
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 1s;
}

.divider {
  font-family: cruz;
  font-size: 5em;
}

.exitBtn:hover {
  color: grey;
  cursor: pointer;
}

.modalText {
  width: 30vw;
  margin-left: -3vw;
}

.modalText div {
  display: flex;
}

.modalText div span {
  flex: 1;
}

.modalText div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.modalText div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

@font-face {
  font-family: fairy;
  src: url('assets/fairy.otf');
}
@font-face {
  font-family: fairyb;
  src: url('assets/FairyDustB.ttf')
}
@font-face {
  font-family: mephisto;
  src: url('assets/Fiolex_Mephisto.ttf')
}
@font-face {
  font-family: k22;
  src: url('assets/K22\ Monastic.ttf')
}
@font-face {
  font-family: cruz;
  src: url('assets/cruz.ttf')
}
@font-face {
  font-family: alice;
  src: url('assets/Alice_in_Wonderland_3.ttf')
}
@font-face {
  font-family: wonderland;
  src: url('assets/Beyond\ Wonderland.ttf')
}
@font-face {
  font-family: nightmare;
  src: url('assets/NITEMARE.TTF')
}
@font-face {
  font-family: blkchcry;
  src: url('assets/BLKCHCRY.TTF')
}
@font-face {
  font-family: achaf;
  src: url('assets/Achafsex.ttf')
}
@font-face {
  font-family: evan;
  src: url('assets/evanescent.ttf')
}
@font-face {
  font-family: occult;
  src: url('assets/Occult.ttf')
}

.booksearchbar {
  opacity: 1;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-size: 72px;
  font-family: fairy;
  border-bottom: 1px solid white;
}

.floating {
  animation: float 0.75s infinite;
}

@keyframes float {
  0% {
    transform: translateX(0%);
  } 
  
  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

.fadein {
  animation: fadeIn 1s ease-out;
  visibility: visible;
}

.fadeout {
  animation: fadeOut 1s ease-in;
  visibility: hidden;
}

.fadeinfast {
  animation: fadeIn 500ms ease-out;
  visibility: visible;
}

.fadeoutfast {
  animation: fadeOut 500ms ease-in;
  visibility: hidden;
}

.fadeoutleft {
  animation: fadeOutLeft 500ms ease-in;
  visibility: hidden;
}

.fadeoutright {
  animation: fadeOutRight 500ms ease-in;
  visibility: hidden;
}

.fadeinleft {
  animation: fadeInLeft 500ms ease-in;
  visibility: visible;
}

.fadeinright {
  animation: fadeInRight 500ms ease-in;
  visibility: visible;
}

@keyframes fadeOut{
  from {
    opacity: 1;
    visibility: visible;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}



@keyframes fadeIn{
  from {
    opacity: 0;
    visibility: hidden;
  } to { 
    opacity: 1; 
    visibility: visible;
  }
}

.loadingScreen {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

#trainText {
  font-family: fairy;
  position: relative;
  right: 25%;
  font-size: 20px;
  transition: opacity 10s linear;
}

.loadingScreenText {
  color: white;
  font-size: 64px;
  font-family: fairy;
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#root {
  background-image: url('assets/bricks.jpg');
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

.star {
  height: 2rem;
  width: 2rem;
  content: url('assets/starempty.png');
  user-select: none;
}

.staractive {
  content: url('assets/starfull.png');
}