html {
  scroll-behavior: smooth;
}

 .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(200, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.book {
  transition: 125ms linear;
  border: 0.3em solid black;
  box-shadow: 0 1.0em 1.5em 0 rgba(0, 0, 0, 0.5), 0 0.5em 2em 0 rgba(0, 0, 0, 0.4);
}
.book.left:hover {
  transform: translateX(-20%);
}
.book.right:hover {
  transform: translateX(20%);
}

.bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.fancy {
  font-family: fairy;
  text-shadow: 4px 4px 15px black;
}

.header {
  font-size: 3em;
}
.subtitle {
  font-size: 2em;
}
.authorname {
  font-family: fairyb;
  text-shadow: 20px 20px 30px black;
  font-size: 5em;
  line-height: 1em;
  bottom: 1.65em;
}
.bookname {
  display: block; 
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 1s;
}

.divider {
  font-family: cruz;
  font-size: 5em;
}

@font-face {
  font-family: fairy;
  src: url('assets/fairy.otf');
}
@font-face {
  font-family: fairyb;
  src: url('assets/FairyDustB.ttf')
}
@font-face {
  font-family: mephisto;
  src: url('assets/Fiolex_Mephisto.ttf')
}
@font-face {
  font-family: k22;
  src: url('assets/K22\ Monastic.ttf')
}
@font-face {
  font-family: cruz;
  src: url('assets/cruz.ttf')
}
@font-face {
  font-family: alice;
  src: url('assets/Alice_in_Wonderland_3.ttf')
}
@font-face {
  font-family: wonderland;
  src: url('assets/Beyond\ Wonderland.ttf')
}
@font-face {
  font-family: nightmare;
  src: url('assets/NITEMARE.TTF')
}
@font-face {
  font-family: blkchcry;
  src: url('assets/BLKCHCRY.TTF')
}
@font-face {
  font-family: achaf;
  src: url('assets/Achafsex.ttf')
}
@font-face {
  font-family: evan;
  src: url('assets/evanescent.ttf')
}

.fadein {
  animation: fadeIn ease-in 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.loadingScreen {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}

.loadingScreenText {
  color: white;
  font-size: 64px;
  font-family: fairy;
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#root {
  background-image: url('assets/bricks.jpg');
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}
